<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>User List</h1>

<br/>
<a th:href="@{/admin/update}">Save user</a>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${list}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.age}">...</td>
            <td th:utext="${user.email}">...</td>
            <td><a class="btn" th:href="@{/admin/delete(id=${user.id})}">Delete</a></td>
            <td><a class="btn" th:href="@{/admin/update(id=${user.id})}">Update</a></td>
            <td><a class="btn" th:href="@{/admin/show(id=${user.id})}">Show</a></td>

    </table>
    <a href="/logout">Logout</a>
</div>
</body>
</html>