<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<h1>User</h1>
<br/>
<a th:href="@{/admin}">Redirect to users list</a>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Access rights</th>
        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.age}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.password}">...</td>
            <td th:utext="${user.getStringAllRoles()}">...</td>
            <td><a th:href="@{/admin/delete(id=${user.id})}">Delete</a></td>
            <td><a th:href="@{/admin/update(id=${user.id})}">Update</a></td>

    </table>
</div>
</body>
</html>