<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update form</h1>

<br/>
<form th:method="POST" th:action="@{/admin/update(id=${user.getId})}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <br>
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <input type="submit" value="UPDATE"/>
</form>

</body>
</html>