<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>


<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr th:object="${user}">
        <td th:utext="${user.name}">...</td>
        <td th:utext="${user.surname}">...</td>
        <td th:utext="${user.age}">...</td>
        <td th:utext="${user.email}">...</td>
        <td th:utext="${user.password}">...</td>


</table>

</body>
</html>